<li class='subdir folded'>
    <a class='folder' href='#<%= _path %>' onclick='toggleFold(this)'>
        <span class="icon_holder"></span>
        <%= file %>
    </a>
    <%- subdir %>
</li>
