<li class="file-entry">
    <b class="delete">x</b>
    <a class='file ft_<%= filetype %>' href='<%= _path %>' target="_blank">
        <span class="icon_holder"></span>
        <%= file %>
    </a>
</li>
