<li class="file-entry">
    <!-- <b class="delete">x</b> -->
    <input type="checkbox" name="sel" value="<%= _path %>">
    <a class='file ft_<%= filetype %>' href='<%= _path %>' target="_blank">
        <span class="icon_holder"></span>
        <%= file %>
    </a>
</li>
